.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 980px;
    /* Apple standard content width or 1024px */
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        /* Standard wide container */
    }
}